{% extends 'base_layout.html' %}

{% block content %}
<div class="about-wrapper">
    <h1 class="title">About me</h1>
    <div class="about-container">
        <h3>Name: Hunter Tratar</h3>
        <p>-> 4th year engineering student at UCSC</p>
        <div class="socials">
            <div class="instagram-container">
                <ion-icon name="logo-instagram" size="large"></ion-icon>
                <a href="https://www.instagram.com/hunttraitor/" target="_blank" class="instagram-link">Instagram</a>
            </div>
            <div class="twitter-container">
                <ion-icon name="logo-twitter" size="large"></ion-icon>
                <a href="https://twitter.com/Hunter_309" target="_blank" class="twitter-link">Twitter</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}