{% extends 'base_layout.html' %}

{% block content %}
<div class="title-container">
    <h1 class="title">Seatlle, Washington</h1>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Zipcodes
        </button>
        <ul id="zip-dropdown" class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item active" href="/">Home</a></li>
          <li><hr class="dropdown-divider"></li>
        </ul>
      </div>
</div>

<div class="home-bar-graph">
    <img src="{{url_for('static', filename='plots/plot.png')}}" alt="Bar Graph">
</div>
{% endblock %}